
@{
    ViewData["Title"] = "Calcula";
}

<h1>Calcula</h1>
<div>
    <p><a href="~/Home">Volta pro começo</a></p>
    <br />
    <p><a href="https://google.com">Vai pro google</a></p>
    <br />
    <button type="button" onclick="alert('4')"><a>2+2?</a></button>
    <br />
    @DateTime.Now
    @ViewData["Title"]
</div>
